.btn-profile{
    background: #8d3236 !important;
    border: 2px solid #541412 !important;
    border-radius: 12px !important;
    font-size: 1.1rem !important;
    color: #fff !important;
    font-weight: 600;
    transition: all 0.3s ease !important;
}

.profile-section section{ 
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
}

.profile-section{
    background-color: rgb(248, 214, 189);
}