.register-section {
  background: linear-gradient(135deg, #fff 0%, #fdf2f2 100%);
  display: flex;
}

.register-form {
  padding-top: 150px;
  padding-bottom: 2rem;
  width: 80%;
}


.register-section input[type="button"] 
{
  background: linear-gradient(135deg, #541412 0%, #ff9a9a 100%);
  color: white;
  min-height: 55px;
  font-size: 19px;
  border-radius: 5%;
}
.register-section img {
    margin-top: 0;
    margin-bottom: 0;
}

.form-control:focus {
  border-color: #8d3236 !important;
  box-shadow: 0 0 0 0.2rem rgba(228, 85, 75, 0.35) !important;
}
